In [1]:
import pandas as pd

In [ ]:
# only to be used by those who are getting SSL Error
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
df = pd.read_csv('https://query.data.world/s/evaqrt2zzlif7stoa53otaysb6ybwk')
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,kzwfHumJyYc,17.14.11,Sharry Mann: Cute Munda ( Song Teaser) | Parmi...,Lokdhun Punjabi,1,2017-11-12T12:20:39.000Z,"sharry mann|""sharry mann new song""|""sharry man...",1096327,33966,798,882,https://i.ytimg.com/vi/kzwfHumJyYc/default.jpg,False,False,False,Presenting Sharry Mann latest Punjabi Song Cu...
1,10L1hZ9qa58,17.14.11,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,TFPC,24,2017-11-12T15:48:08.000Z,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,473988,2011,243,149,https://i.ytimg.com/vi/10L1hZ9qa58/default.jpg,False,False,False,Watch Stylish Star Allu Arjun @ ChaySam Weddin...
2,N1vE8iiEg64,17.14.11,Eruma Saani | Tamil vs English,Eruma Saani,23,2017-11-12T07:08:48.000Z,"Eruma Saani|""Tamil Comedy Videos""|""Films""|""Mov...",1242680,70353,1624,2684,https://i.ytimg.com/vi/N1vE8iiEg64/default.jpg,False,False,False,This video showcases the difference between pe...
3,kJzGH0PVQHQ,17.14.11,why Samantha became EMOTIONAL @ Samantha naga ...,Filmylooks,24,2017-11-13T01:14:16.000Z,"Filmylooks|""latest news""|""telugu movies""|""telu...",464015,492,293,66,https://i.ytimg.com/vi/kJzGH0PVQHQ/default.jpg,False,False,False,why Samantha became EMOTIONAL @ Samantha naga ...
4,il_pSa5l98w,17.14.11,"MCA (Middle Class Abbayi) TEASER - Nani,Sai Pa...",Dil Raju,24,2017-11-10T04:29:50.000Z,"Nenu Local|""Nenu Local Telugu Movie""|""Nani""|""S...",6106669,98612,4185,4763,https://i.ytimg.com/vi/il_pSa5l98w/default.jpg,False,False,False,Watch MCA- Middle Class Abbayi First Look Teas...

**Check if the data is having any duplicated rows or not? If yes, then how many?**

In [3]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
37346     True
37347     True
37348     True
37349     True
37350     True
Length: 37351, dtype: bool

In [4]:
df.iloc[[37346],:]

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
37346,iNHecA3PJCo,18.14.06,फेकू आशिक़ - राजस्थान की सबसे शानदार कॉमेडी | ...,RDC Rajasthani,23,2018-06-13T08:01:11.000Z,"twinkle vaishnav comedy|""twinkle vaishnav""|""tw...",214378,3291,404,196,https://i.ytimg.com/vi/iNHecA3PJCo/default.jpg,False,False,False,PRG Music & RDC Rajasthani presents फेकू आशिक़...

In [5]:
df[df['video_id'] == 'iNHecA3PJCo']

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
37224,iNHecA3PJCo,18.14.06,फेकू आशिक़ - राजस्थान की सबसे शानदार कॉमेडी | ...,RDC Rajasthani,23,2018-06-13T08:01:11.000Z,"twinkle vaishnav comedy|""twinkle vaishnav""|""tw...",214378,3291,404,196,https://i.ytimg.com/vi/iNHecA3PJCo/default.jpg,False,False,False,PRG Music & RDC Rajasthani presents फेकू आशिक़...
37346,iNHecA3PJCo,18.14.06,फेकू आशिक़ - राजस्थान की सबसे शानदार कॉमेडी | ...,RDC Rajasthani,23,2018-06-13T08:01:11.000Z,"twinkle vaishnav comedy|""twinkle vaishnav""|""tw...",214378,3291,404,196,https://i.ytimg.com/vi/iNHecA3PJCo/default.jpg,False,False,False,PRG Music & RDC Rajasthani presents फेकू आशिक़...

In [6]:
df.duplicated().sum()

4263

In [7]:
df.shape

(37351, 16)

**Keep one row out of all the duplicated rows and drop other**

In [8]:
help(df.drop_duplicates)

Help on method drop_duplicates in module pandas.core.frame:

drop_duplicates(subset: Union[Hashable, Sequence[Hashable], NoneType] = None, keep: Union[str, bool] = 'first', inplace: bool = False, ignore_index: bool = False) -> Union[ForwardRef('DataFrame'), NoneType] method of pandas.core.frame.DataFrame instance
    Return DataFrame with duplicate rows removed.

    Considering certain columns is optional. Indexes, including time indexes
    are ignored.

    Parameters
    ----------
    subset : column label or sequence of labels, optional
        Only consider certain columns for identifying duplicates, by
        default use all of the columns.
    keep : {'first', 'last', False}, default 'first'
        Determines which duplicates (if any) to keep.
        - ``first`` : Drop duplicates except for the first occurrence.
        - ``last`` : Drop duplicates except for the last occurrence.
        - False : Drop all duplicates.
    inplace : bool, default False
        Whether to drop duplicates in place or to return a copy.
    ignore_index : bool, default False
        If True, the resulting axis will be labeled 0, 1, …, n - 1.

        .. versionadded:: 1.0.0

    Returns
    -------
    DataFrame
        DataFrame with duplicates removed or None if ``inplace=True``.

In [9]:
df.drop_duplicates(inplace = True)

In [10]:
df.shape

(33088, 16)

In [11]:
37351-33088

4263

**Find out columns which are loaded with incorrect Data Type?**

- trending_date
- category_id
- publish_time

In [13]:
df.head(2)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,kzwfHumJyYc,17.14.11,Sharry Mann: Cute Munda ( Song Teaser) | Parmi...,Lokdhun Punjabi,1,2017-11-12T12:20:39.000Z,"sharry mann|""sharry mann new song""|""sharry man...",1096327,33966,798,882,https://i.ytimg.com/vi/kzwfHumJyYc/default.jpg,False,False,False,Presenting Sharry Mann latest Punjabi Song Cu...
1,10L1hZ9qa58,17.14.11,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,TFPC,24,2017-11-12T15:48:08.000Z,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,473988,2011,243,149,https://i.ytimg.com/vi/10L1hZ9qa58/default.jpg,False,False,False,Watch Stylish Star Allu Arjun @ ChaySam Weddin...

In [14]:
df.dtypes

video_id                  object
trending_date             object
title                     object
channel_title             object
category_id                int64
publish_time              object
tags                      object
views                      int64
likes                      int64
dislikes                   int64
comment_count              int64
thumbnail_link            object
comments_disabled           bool
ratings_disabled            bool
video_error_or_removed      bool
description               object
dtype: object

**Convert the following columns in their correct Data Type**

- trending_date
- category_id
- publish_time

In [16]:
df.head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,kzwfHumJyYc,17.14.11,Sharry Mann: Cute Munda ( Song Teaser) | Parmi...,Lokdhun Punjabi,1,2017-11-12T12:20:39.000Z,"sharry mann|""sharry mann new song""|""sharry man...",1096327,33966,798,882,https://i.ytimg.com/vi/kzwfHumJyYc/default.jpg,False,False,False,Presenting Sharry Mann latest Punjabi Song Cu...

yy.dd.mm

In [15]:
pd.to_datetime(df['trending_date'])

ParserError: month must be in 1..12: 17.14.11

The reason we got the following error is because the function is not able to decode the pattern of the date format for the column trending date.

https://strftime.org/

In [19]:
df['trending_date'] = pd.to_datetime(df['trending_date'], format = '%y.%d.%m')

In [21]:
df.dtypes

video_id                          object
trending_date             datetime64[ns]
title                             object
channel_title                     object
category_id                        int64
publish_time                      object
tags                              object
views                              int64
likes                              int64
dislikes                           int64
comment_count                      int64
thumbnail_link                    object
comments_disabled                   bool
ratings_disabled                    bool
video_error_or_removed              bool
description                       object
dtype: object

In [22]:
df['trending_date']

0       2017-11-14
1       2017-11-14
2       2017-11-14
3       2017-11-14
4       2017-11-14
           ...
37299   2018-06-14
37300   2018-06-14
37301   2018-06-14
37318   2018-06-14
37329   2018-06-14
Name: trending_date, Length: 33088, dtype: datetime64[ns]

In [24]:
df['publish_time'] = pd.to_datetime(df['publish_time'])

In [25]:
df.dtypes

video_id                               object
trending_date                  datetime64[ns]
title                                  object
channel_title                          object
category_id                             int64
publish_time              datetime64[ns, UTC]
tags                                   object
views                                   int64
likes                                   int64
dislikes                                int64
comment_count                           int64
thumbnail_link                         object
comments_disabled                        bool
ratings_disabled                         bool
video_error_or_removed                   bool
description                            object
dtype: object

In [26]:
df['category_id'] = df['category_id'].astype(object)

In [27]:
df.dtypes

video_id                               object
trending_date                  datetime64[ns]
title                                  object
channel_title                          object
category_id                            object
publish_time              datetime64[ns, UTC]
tags                                   object
views                                   int64
likes                                   int64
dislikes                                int64
comment_count                           int64
thumbnail_link                         object
comments_disabled                        bool
ratings_disabled                         bool
video_error_or_removed                   bool
description                            object
dtype: object

If there is a column in pandas datetime format, you may extract any component of date or time using the dt keyword.

In [40]:
df['publish_date']= pd.to_datetime(df['publish_time'].dt.date)

In [41]:
df.head(2)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,publish_date
0,kzwfHumJyYc,2017-11-14,Sharry Mann: Cute Munda ( Song Teaser) | Parmi...,Lokdhun Punjabi,1,2017-11-12 12:20:39+00:00,"sharry mann|""sharry mann new song""|""sharry man...",1096327,33966,798,882,https://i.ytimg.com/vi/kzwfHumJyYc/default.jpg,False,False,False,Presenting Sharry Mann latest Punjabi Song Cu...,2017-11-12
1,10L1hZ9qa58,2017-11-14,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,TFPC,24,2017-11-12 15:48:08+00:00,Stylish Star Allu Arjun @ ChaySam Wedding Rece...,473988,2011,243,149,https://i.ytimg.com/vi/10L1hZ9qa58/default.jpg,False,False,False,Watch Stylish Star Allu Arjun @ ChaySam Weddin...,2017-11-12

## Data Analysis

**Sort the data on views column to find out the video with Maximum number of views**

In [42]:
df.sort_values(by = 'views', ascending = False)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,publish_date
5407,FlsCjmMhFmw,2017-12-12,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,YouTube Spotlight,24,2017-12-06 17:58:51+00:00,"Rewind|""Rewind 2017""|""youtube rewind 2017""|""#Y...",125432237,2912710,1545017,807558,https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg,False,False,False,"YouTube Rewind 2017. Celebrating the videos, p...",2017-12-06
5118,FlsCjmMhFmw,2017-12-11,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,YouTube Spotlight,24,2017-12-06 17:58:51+00:00,"Rewind|""Rewind 2017""|""youtube rewind 2017""|""#Y...",113876217,2811216,1470387,787174,https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg,False,False,False,"YouTube Rewind 2017. Celebrating the videos, p...",2017-12-06
4935,FlsCjmMhFmw,2017-12-10,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,YouTube Spotlight,24,2017-12-06 17:58:51+00:00,"Rewind|""Rewind 2017""|""youtube rewind 2017""|""#Y...",100911567,2656672,1353650,682890,https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg,False,False,False,"YouTube Rewind 2017. Celebrating the videos, p...",2017-12-06
4476,6ZfuNTqbHE8,2017-12-07,Marvel Studios' Avengers: Infinity War Officia...,Marvel Entertainment,24,2017-11-29 13:26:24+00:00,"marvel|""comics""|""comic books""|""nerdy""|""geeky""|...",89930713,2606663,53011,347982,https://i.ytimg.com/vi/6ZfuNTqbHE8/default.jpg,False,False,False,There was an idea… Avengers: Infinity War. In ...,2017-11-29
4235,6ZfuNTqbHE8,2017-12-06,Marvel Studios' Avengers: Infinity War Officia...,Marvel Entertainment,24,2017-11-29 13:26:24+00:00,"marvel|""comics""|""comic books""|""nerdy""|""geeky""|...",87449453,2584674,52176,341571,https://i.ytimg.com/vi/6ZfuNTqbHE8/default.jpg,False,False,False,There was an idea… Avengers: Infinity War. In ...,2017-11-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5289,p3Wn9FuI2zo,2017-12-11,Dilip Ghosh and Firhad Hakim's political fight...,24 ghanta,24,2017-12-10 14:21:49+00:00,"Zee 24 ghanta|""bangla news""|""zee bangla news""|...",5098,37,5,10,https://i.ytimg.com/vi/p3Wn9FuI2zo/default.jpg,False,False,False,To satisfy the demands of high-rise favourites...,2017-12-10
18319,#NAME?,2018-02-22,Madhuban Murli LIVE - 22/2/2018 (Thursday 7.00...,Madhuban Murli Brahma Kumaris,27,2018-02-22 02:44:05+00:00,"Daily Murli|""Brahma Kumaris""|""Madhuban""|""Omsha...",4641,185,15,5,https://i.ytimg.com/vi/-xziZBJiNt4/default.jpg,False,False,False,Murli classes are held daily at all centers at...,2018-02-22
20322,18OSLOq-bFA,2018-03-06,Madhuban Murli LIVE - 6/3/2018 (Tuesday 7.00am...,Madhuban Murli Brahma Kumaris,27,2018-03-06 02:41:50+00:00,"Daily Murli|""Brahma Kumaris""|""Madhuban""|""Omsha...",4359,191,18,9,https://i.ytimg.com/vi/18OSLOq-bFA/default.jpg,False,False,False,Murli classes are held daily at all centers at...,2018-03-06
29316,iW5ZRboFCMU,2018-05-01,रट लो//1 मई 2018 Current Affairs PDF and Quiz...,Golden Era Education,27,2018-05-01 02:15:08+00:00,[none],4287,312,12,100,https://i.ytimg.com/vi/iW5ZRboFCMU/default.jpg,False,False,False,download today pdf- https://www.goldeneraeduca...,2018-05-01
29315,wntggWeDxjI,2018-05-01,"Baapmanus - बापमाणूस - Episode 118 - May 01, ...",Zee Yuva,24,2018-04-30 23:28:11+00:00,"Zee Yuva|""Baapmanus""|""full episode""|""Marathi""|...",4024,15,0,0,https://i.ytimg.com/vi/wntggWeDxjI/default.jpg,False,False,False,"To watch FULL episode of Baapmanus, CLICK here...",2018-04-30

In [44]:
df[df['video_id']=='FlsCjmMhFmw'][['video_id', 'publish_date', 'trending_date', 'views', 'likes']]

         video_id publish_date trending_date      views    likes
4458  FlsCjmMhFmw   2017-12-06    2017-12-07   24784863  1149198
4567  FlsCjmMhFmw   2017-12-06    2017-12-08   52611730  1891811
4742  FlsCjmMhFmw   2017-12-06    2017-12-09   75969469  2251815
4935  FlsCjmMhFmw   2017-12-06    2017-12-10  100911567  2656672
5118  FlsCjmMhFmw   2017-12-06    2017-12-11  113876217  2811216
5407  FlsCjmMhFmw   2017-12-06    2017-12-12  125432237  2912710

**Use the drop_duplicates function and drop all the duplicates rows where video_id is duplicates, keep the last row. perfrom this operation in place.**

How many rows you are left with df?

In [45]:
df.drop_duplicates(subset = 'video_id', keep='last', inplace = True)

In [46]:
df.shape

(16307, 17)

**Same day trending video analysis**

These are those videos that were trending on the same day as it was published.

- Filter such videos where trending date is same as publish date in a new datafrmae.
- Find the count of such videos

In [48]:
sameday = df[df['publish_date'] == df['trending_date']]

In [49]:
sameday.shape

(137, 17)

**Among all the same day trending videos which channel has the maximum number of same day trending videos? Find top-3 channel**

In [50]:
sameday['channel_title'].value_counts()

Adda247 :Official Channel of BankersAdda & SSCAdda    26
WiFiStudy                                             15
Mahendra Guru : Online Videos For Govt. Exams          7
T-Series Bhakti Sagar                                  6
Zee Tamil                                              4
                                                      ..
BehindwoodsTV                                          1
Wrestling Reality                                      1
Sharmaji Technical                                     1
Daily Post Punjabi                                     1
Colors TV                                              1
Name: channel_title, Length: 65, dtype: int64

- Education
- Frequent Live Streams

**Tseries Data**

In [51]:
tseries = df[df['channel_title'] == 'T-Series']

In [52]:
tseries.shape

(62, 17)

In [53]:
tseries['month'] = tseries['publish_date'].dt.month

C:\Users\SUMITH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [54]:
tseries['month'].value_counts()

2     11
3     10
12     9
1      9
5      8
4      6
11     5
6      4
Name: month, dtype: int64

- Feb: Valentine Month
- March: Holi/Holiday
- Dec/Jan: Wedding Season
- 7,8,9,10: Off Season+Rainy Season+Government Exam